@import "/fonts/proxima-nova/fonts.min.css";

.padding_0 {
    padding: 0;
}

.field-loginform-username {
    margin-bottom: 0;
    height: 93px !important;
}

.field-loginform-username label {
    /*background: url(/images/home_login-zir.png) right no-repeat;*/
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    font-family: 'MarkProLight';
    font-size: 13px;
    color: #181820;
    width: 44px;
    background-position-y: 3px;
}

.field-loginform-password {
    margin-bottom: 0;
    height: 93px !important;
}

.field-loginform-password label {
    /*background: url(/images/home_login-zir.png) right no-repeat;*/
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    font-family: 'MarkProLight';
    font-size: 13px;
    color: #181820;
    width: 70px;
    background-position-y: 3px;
}

.field-signupform-username {
    height: 93px !important;
}

.field-signupform-email {
    height: 93px !important;
}

.field-signupform-password {
    height: 93px !important;
}

.end-data-of {
    font-family: 'MarkProBold';
    font-size: 12px;
    color: #fff;
    position: relative;
    top: 8px;
}

.size-lix_w {
    font-family: 'MarkProLight';
    font-size: 12px;
    color: #fff;
    float: right;
    padding-right: 15px;
    padding-top: 13px;
}

.field-signupform-username label {
    /*background: url(/images/home_login-zir.png) right no-repeat;*/
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    font-family: 'MarkProLight';
    font-size: 13px;
    color: #181820;
    width: 75px;
    background-position-y: 3px;
}

.field-signupform-email label {
    /*background: url(/images/home_login-zir.png) right no-repeat;*/
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    font-family: 'MarkProLight';
    font-size: 13px;
    color: #181820;
    width: 46px;
    background-position-y: 3px;
}

.field-signupform-password label {
    /*background: url(/images/home_login-zir.png) right no-repeat;*/
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    font-family: 'MarkProLight';
    font-size: 13px;
    color: #181820;
    width: 70px;
    background-position-y: 3px;
}

.sectionTitle {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-family: MarkProBold;
    color: #181820;
    margin-bottom: 0px;
    margin-top: 73px !important;
    margin-bottom: 15px;
}

.titl-h1 {
    margin-top: 31px !important;
    margin-bottom: 31px;
    font-size: 28px;
}

.close-modal-btn {
    width: 14px;
    height: 14px;
    background: url(/images/ic_close_black.png) center no-repeat !important;
    position: absolute;
    margin: 20px 17px;
    opacity: 0.95;
    top: 0;
    right: 0;
    z-index: 100;
}

#login-form .field-loginform-rememberme label {
    color: #181820;
    font-size: 14px;
    font-family: 'MarkProLight';
    margin-top: 10px;
    padding-left: 24px;
    background: url("/images/rectangle-3-copy-8.png") no-repeat;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 0px;
    opacity: 0.7;
    position: relative;
    right: 2px;
}

#login-form .field-loginform-rememberme input[name="LoginForm[rememberMe]"]:checked + label {
    background: url("/images/rectangle-121.png") 2px 2px no-repeat;
    margin-top: 0px;
    margin-left: 0px;
}

#login-form button[type="submit"] {
    width: 100%;
    height: 50px;
    background: #21a2dc;
    border: 0;
    border-radius: 0;
    color: white;
    font-family: Proxima Nova;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    line-height: 37px;
    border-radius: 0;
    margin-top: 0px !important;
    position: relative;
    bottom: 5px;
    font-size: 13px;
}

.register-link-passw .registr_forgot_passw {
    font-size: 15px;
    font-family: 'MarkProBold';
    color: #ff9a00;
    text-decoration: none;
    cursor: pointer;
}

.register-link-passw .registr_forgot_passw:hover {
    font-size: 15px;
    font-family: 'MarkProBold';
    color: #ff9a00;
    text-decoration: none;
    cursor: pointer;
}

.register-link {
    font-size: 15px;
    font-family: 'MarkProBold';
    color: #181820;
    margin: 17px 2px 39px 2px;
    text-align: center;
}

.register-link > a {
    font-size: 15px;
    font-family: 'MarkProBold';
    color: #ff9a00;
    text-decoration: none;
    cursor: pointer;
}

.register-link-passw {
    font-size: 15px;
    font-family: 'MarkProBold';
    color: #ff9a00;
    margin-top: 22px;
    text-align: center;
}

#form-signup button[type="submit"] {
    width: 100%;
    height: 50px;
    background: #21a2dc;
    border: 0;
    border-radius: 0;
    color: white;
    font-family: Proxima Nova;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    line-height: 37px;
    border-radius: 0;
    margin-top: 0px;
    margin-bottom: 5px;
}

.reg-link {
    margin-top: 25px;
}

.padding-right-null {
    padding-right: 0px;
}

.field-loginform-rememberme {
    margin-top: 5px;
}

.product-one-all-no-home .product-one-to-all {
    min-height: 325px;
    padding: 0;
    border-top: none;
    margin-bottom: 10px;
    margin-top: 0px;
    background: white;
}

.product-one-all-no-home .product-one-to-all .name-product_one, .product-one-all-no-home .product-one-to-all .name-product_one:hover {
    padding-left: 19px;
    font-family: MarkProBold;
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
    display: block;
    padding-right: 10px;
    height: 62px;
    overflow: hidden;
    text-decoration: none;
}

.product-one-all-no-home .product-one-to-all .img_ki_44 {
    margin-bottom: 20px;
    height: 220px;
}

.product-one-all-no-home .product-one-to-all .name_naw_catal111, .product-one-all-no-home .product-one-to-all .name_naw_catal111:hover {
    padding-left: 19px;
    font-family: MarkProBold;
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
    display: block;
    padding-right: 10px;
    height: 62px;
    overflow: hidden;
    text-decoration: none;
}

.product-one-all-adverts .product-one-to-all .name_naw_catal111, .product-one-all-adverts .product-one-to-all .name_naw_catal111:hover {
    padding-left: 19px;
    font-family: MarkProBold;
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
    display: block;
    padding-right: 10px;
    height: 45px;
    overflow: hidden;
    text-decoration: none;
}

.prod_coll .product-one-to-all .name_naw_catal111, .prod_coll .product-one-to-all .name_naw_catal111:hover {
    padding-left: 19px;
    font-family: MarkProBold;
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
    display: block;
    padding-right: 10px;
    height: 45px;
    overflow: hidden;
    text-decoration: none;
}

.product-one-all-no-home .product-one-to-all .im_ju_3 .data_tovar_catal111 {
    padding-left: 19px;
    font-family: MarkProLight;
    font-size: 12px;
    color: #8c8f91;
    margin-bottom: 0;
}

.product-one-all-no-home .product-one-to-all .paper-title-container {
    height: 52px;
    padding-left: 19px;
    margin-top: -5px;
}

.product-one-all-no-home .product-one-to-all .paper-title-container .paper-title {
    font-family: 'MarkProLight';
    color: #181820;
    font-size: 13px;
    opacity: 0.76;
    display: block;
    padding-right: 6px;
    position: relative;
    top: 21px;
}

.product-one-all-no-home .product-one-to-all .paper-title-container .paper-text {
    position: relative;
    bottom: 21px;
}

.product-one-all-no-home .product-one-to-all .paper-title-container .paper-text a {
    font-family: MarkProBold;
    font-size: 16px;
    color: #181820;
    text-decoration: none;
    display: block;
    padding-right: 6px;
}

.product-one-all-no-home .product-one-to-all .div_bot_56 {
    padding: 14px 0 0 24px;
    height: 53px;
}

.product-one-all-no-home .product-one-to-all .div_bot_56 a {
    font-family: 'MarkProLight';
    color: #181820;
    font-size: 13px;
    padding-right: 5px;
    color: #808080;
    cursor: pointer;
}

.product-one-all-no-home .product-one-to-all .div_bot_56 .icon_like .img_ico {
    display: inherit;
    width: auto;
    margin-right: 2px;
    margin-top: -3px;
    cursor: pointer;
}

.product-one-all-no-home .product-one-to-all .div_bot_56 .js-my-collection-7 .img_ico {
    cursor: pointer;
}

.padding-collec-nul {
    padding: 0 15px 0 0;
}

#collectionssearch-search_value {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-align: right;
    padding: 6px 45px;
    background: url(/images/ic_search_black_24.png) right no-repeat;
    font-family: 'MarkProLight';
    font-size: 16px;
}

#publicationssearch-search_value {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-align: right;
    padding: 6px 45px;
    background: url(/images/ic_search_black_24.png) right no-repeat;
    font-family: 'MarkProLight';
    font-size: 16px;
}

#advertiserssearch-search_value {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-align: right;
    padding: 6px 45px;
    background: url(/images/ic_search_black_24.png) right no-repeat;
    font-family: 'MarkProLight';
    font-size: 16px;
}

#trendingssearch-search_value {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-align: right;
    padding: 6px 45px;
    background: url(/images/ic_search_black_24.png) right no-repeat;
    font-family: 'MarkProLight';
    font-size: 16px;
}

.collec_hom_pad-top {
    padding-top: 29px;
    margin-bottom: 23px;
}

.categoty-name-height .product-one-to-all .name_naw_catal111, .categoty-name-height .product-one-to-all .name_naw_catal111:hover {
    padding-left: 19px;
    font-family: MarkProBold;
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
    display: block;
    padding-right: 10px;
    height: 46px;
    overflow: hidden;
    text-decoration: none;
}

.hr-product-col {
    margin-top: 19px;
    margin-bottom: 29px !important;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
}

.clear-all-category-xs {
    font-family: MarkProLight;
    font-size: 14px;
    color: #181820;
    opacity: 0.76;
    letter-spacing: 0;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 40%;
}

.section-title-about {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-family: MarkProBold;
    color: #181820;
    margin-bottom: 0px;
    margin-top: 33px !important;
    margin-bottom: 60px;
}

.img-about-pag {
    width: 80%;
    -o-object-fit: contain;
    object-fit: contain;
    margin-left: 10%;
    margin-bottom: 30px;
}

.categories-box_about {
    font-family: 'MarkProLight';
    color: #181820;
    font-size: 16px;
    margin-top: 15px;
    opacity: 0.7;
}

.back-whit-news {
    background: white;
    padding: 22px 100px 0 35px;
    position: absolute;
    bottom: 0;
    height: 162px;
    top: 428px;
}

.news-data-great {
    color: #353548;
    opacity: 0.5;
    font-size: 12px;
    font-family: 'MuseoSansCyrl700';
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.news-short-description a {
    font-family: MarkProBold;
    font-size: 28px;
    color: #181820;
    text-decoration: none;
}

.butom_print {
    background: #f2f2f2;
    color: #353548;
    font-family: MarkProBold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 20px;
    border: none;
    padding: 8px 20px;
    position: absolute;
    left: 0;
    bottom: 162px;
}

.butom_print a, .butom_print a:hover, .butom_print a:active {
    color: #353548;
    text-decoration: none;
}

.butom_print-news {
    background: #fff;
    color: #353548;
    font-family: MarkProBold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 20px;
    padding: 8px 20px;
    position: absolute;
    left: 15px;
    top: 0;
    border: 1px solid #9194a1;
    outline: none;
}

.butom_print-news a, .butom_print-news a:hover, .butom_print-news a:active {
    color: #353548;
    text-decoration: none;
}

.get-data-create-news {
    margin-top: 32px;
    color: #353548;
    opacity: 0.6;
    font-size: 12px;
    font-family: 'MuseoSansCyrl700';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title-news {
    margin-bottom: 23px;
    margin-top: 12px;
    padding-right: 20px;
}

.title-news a {
    font-family: MarkProBold;
    font-size: 28px;
    color: #181820;
    text-decoration: none;
}

.descrip-news {
    color: #353548;
    opacity: 0.6;
    font-size: 14px;
    font-family: 'MarkProLight';
    padding-right: 20px;
}

.recenr-new-data {
    color: #353548;
    opacity: 0.6;
    font-size: 12px;
    font-family: 'MuseoSansCyrl700';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.recenr-new-title {
    margin: 6px 0 12px 0;
}

.recenr-new-title a {
    font-family: MarkProBold;
    font-size: 18px;
    color: #181820;
    text-decoration: none;
}

.recenr-new-desc {
    color: #353548;
    opacity: 0.6;
    font-size: 14px;
    font-family: 'MarkProLight';
    margin-bottom: 24px;
}

.backg-news {
    background: #21a2dc;
    height: 40px;
}

.menu-news .btn-primary {
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    height: 40px;
    border-radius: 0px;
    line-height: 28px;
    border: none;
    background-color: #21a2dc;
    box-shadow: none;
    padding: 6px 15px 6px 13px;
}

.menu-news .btn-primary.active, .menu-news .btn-primary:hover {
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    height: 40px;
    border-radius: 0px;
    line-height: 28px;
    border: none;
    background-color: #144f76;
    box-shadow: none;
    padding: 6px 15px 6px 15px;
}

.block-left-brand {
    width: 16.66666667%;
    float: left;
    padding-right: 0;
}

.block-right-brand {
    width: 83.33333333%;
    padding-left: 15px;
    float: left;
}

#signupform-recaptcha-recaptcha {
    position: relative;
    bottom: 15px;
    width: 100%;
}

.log_text_in {
    font-family: MarkProLight;
    text-align: center;
    font-size: 18px;
    margin-bottom: 17px;
}

#login-publisher-form input[type="text"].form-control, #form-signup input[type="text"].form-control, #form-signup input[type="password"].form-control, #login-publisher-form input[type="password"].form-control {
    height: 48px;
    border: 1px solid #c7c7c7;
    box-shadow: none;
    border-radius: 0;
    font-family: 'MarkProLight';
    font-size: 13px;
    color: #181820 !important;
}

#products-premium_type {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #c7c7c7;
    background: white;
    padding-left: 28px;
    font-size: 14px;
    color: #181820;
    font-family: MarkProLight;
    outline: none;
    line-height: 36px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#products-premium_type option {
    font-size: 14px;
    color: #181820 !important;
    opacity: 0.7;
}

.input_name_cl22 i {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 9px 5px 0 5px;
    height: 0px;
    right: 16px;
    margin-left: -15px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 0;
}

.has-error .select2-container--krajee {
    border: 1px solid red !important;
}

#buttom_css .help-block {
    position: absolute;
    width: 100%;
    bottom: 30px;
}

.input_name_cl .help-block {
    display: none;
}

#form_2-st .alert.fade.in {
    font-family: 'RobotoSlab-Regular';
    position: relative;
    display: inline-block !important;
    padding: 10px 10px;
    background: #6b6b6b;
    border: none;
    width: 100%;
    margin-left: 0;
    color: white;
    margin: 0;
    text-align: center;
}

#form_2-st .alert.fade.in button {
    color: white;
    opacity: 1;
}

div.mar_bat-crie button.bat_coll_creat {
    height: 40px;
    background: #21a2dc;
    border: 0;
    outline: none;
    color: white;
    font-family: "Proxima Nova";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
    float: left;
    line-height: 28px;
    padding: 6px 25px;
}

#login-publisher-form .field-loginform-username {
    margin-bottom: 0;
    height: 70px !important;
}

#login-publisher-form .field-loginform-password {
    margin-bottom: 0;
    height: 70px !important;
}

#login_form_remembMe .field-loginform-rememberme .checkbox {
    margin: 0px;
}

#login_form_remembMe .field-loginform-rememberme .checkbox label {
    color: #181820;
    font-size: 14px;
    font-family: 'MarkProLight';
    margin-bottom: 12px;
}

.prof-manag-pad {
    padding: 0 15px !important;
    margin-top: 0px !important;
}

#signupform-recaptcha-recaptcha div:first-child {
    width: 100% !important;
}

#signupform-recaptcha-recaptcha iframe {
    width: 100% !important;
}

.block-right-brand .owl-carousel .owl-nav .owl-prev {
    background: url(/images/ic_keyboard_arrow_left_black_24px.png) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -53px;
    color: #144f76;
    top: 208px;
}

.block-right-brand .owl-carousel .owl-nav .owl-next {
    background: url(/images/ic_keyboard_arrow_left_black_24px1.png) no-repeat;
    background-size: 100%;
    background-position: center;
    float: right;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -53px;
    color: #144f76;
    top: 158px;
}

.block-right-brand .owl-carousel .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 21px;
    margin-bottom: 6px;
}

.block-right-brand .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.block-right-brand .owl-carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 3px 3.5px;
    background: #81a0b6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.block-right-brand .owl-carousel .owl-dots .owl-dot.active span {
    background: #144f76;
}

.js-page-header-search-value {
    font-family: 'MarkProLight';
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 28px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #181820;
    border: 1px solid #d9d6d6;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 29px !important;
    margin-top: 29px !important;
}

.input-group-addon {
    background: url("/images/014_search_results.png") no-repeat;
    width: 53px;
    height: 48px;
    border-radius: 0px;
    border: none !important;
    cursor: pointer;
    position: relative;
    top: 29px;
}

.dates-search {
    font-family: 'MarkProBold';
    font-size: 15px;
    color: #181820;
    margin-bottom: 14px;
}

.dates-categ {
    font-family: 'MarkProBold';
    font-size: 15px;
    color: #181820;
    margin-bottom: 16px;
    margin-top: 15px;
}

.dates-public {
    font-family: 'MarkProBold';
    font-size: 15px;
    color: #181820;
    margin-bottom: 20px;
    margin-top: 16px;
}

.sort-date-search .js-dates-sort {
    font-family: MarkProLight;
    font-size: 14px;
    color: #181820;
    text-decoration: none;
    cursor: pointer;
    line-height: 32px;
}

.sort-date-search .js-dates-sort.active {
    font-family: MarkProLight;
    font-size: 14px;
    color: #ffa942;
    text-decoration: none;
    cursor: pointer;
}

.inpur-search-gro {
    padding-left: 16px !important;
}

.back_page-product-view {
    padding-top: 29px;
    background-color: #eff2f7;
}

.container_product-view {
    padding-right: 15px;
    padding-left: 15px;
}

.dis_web {
    display: -webkit-box;
    background: white;
    margin-bottom: 50px;
}

.left_product-block {
    display: flow-root;
    border: none;
    padding-left: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-right: 0px;
}

.left_product-block .img-product {
    min-height: 500px;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    -o-object-fit: fill;
    object-fit: fill;
    box-shadow: 1px 4px 30px #e5e5e6;
}

.advert_div-left_block {
    height: 92px;
    padding: 23px 27px 0 27px;
    border-bottom: 1px solid #e1e1e1;
}

.border-righ {
    border-right: 1px solid #e1e1e1;
    display: flow-root;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 45px;
}

.float_advert_ico-left {
    float: left;
    padding-top: 10px;
}

.float_advert_ico-left a {
    margin-right: 5px;
    text-decoration: none;
}

.float_advert_link-rigth {
    text-align: center;
    padding-top: 15px;
}

.float_advert_link-rigth a {
    font-family: MarkProBold;
    font-size: 14px;
    color: #181820;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}

.float_advert_link-rigth a img {
    margin-right: 10px;
}

.float_advert_link-rigth a .pad_collec_icon {
    position: relative;
    top: 2px;
}

.like-block-right {
    float: right;
    position: relative;
    bottom: 12px;
    left: 23px;
}

.content-comment-cards-goods {
    margin-bottom: 22px;
}

.content-comment-cards-goods a {
    color: #181820;
    font-family: 'MarkProBold';
    font-size: 16px;
    text-decoration: none;
}

.content-comment-cards-goods span {
    font-family: 'MarkProBold';
    font-size: 12px;
    color: #353548;
    text-decoration: none;
    opacity: 0.5;
}

.content-comment-cards-goods p {
    font-family: 'MarkProLight';
    font-size: 14px;
    color: #181820;
    text-decoration: none;
    margin-top: 14px;
    opacity: 0.7;
}

.like-block-right .not_active {
    font-family: 'proxima_nova_light';
    font-size: 14px;
    background: url(/images/hand.png) 14px no-repeat;
    background-color: #ebebeb;
    padding: 18px 18px;
    border-radius: 36px;
    color: #06aeea;
    text-decoration: none;
    box-shadow: none;
    outline: none;
    width: 49px;
    height: 49px;
    border: 1px solid #bcbcbc;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none !important;
}

.like-block-right .active {
    font-family: 'proxima_nova_light';
    font-size: 14px;
    background: url(/images/hand.png) 14px no-repeat;
    background-color: #ebebeb;
    padding: 18px 18px;
    border-radius: 36px;
    color: #06aeea;
    text-decoration: none;
    box-shadow: none;
    outline: none;
    width: 49px;
    height: 49px;
    border: 1px solid #bcbcbc;
}

.like-block-right .pad_like_icon {
    position: relative;
    right: 25px;
    top: 9px;
    font-family: MarkProLight;
    color: #181820;
    font-size: 14px;
    opacity: 0.7;
    display: -webkit-inline-box;
    width: 19px;
    overflow: hidden;
}

.releat_adverts {
    font-family: 'MarkProBold';
    font-size: 17px;
    color: #181820;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 26px;
}

.related-adverts-block {
    padding: 40px 24px 0px 27px;
    display: flow-root;
}

.block_advert_comments {
    padding: 40px 24px 0px 27px;
    display: flow-root;
}

.nth-chil-prod:nth-child(4) {
    padding-right: 0px !important;
}

.col_cole_f .coments_ww .coments_1 span {
    font-family: MarkProBold;
    font-size: 17px;
    color: #181820;
    text-transform: uppercase;
}

.nth-chil-prod .product-one-to-all {
    box-shadow: 1px 4px 7px #e5e5e6;
}

#add-comment-form .form-control {
    height: 59px;
    border: 1px solid #c7c7c7;
    box-shadow: none;
    border-radius: 0;
    color: #181820;
    font-family: 'MarkProLight';
    font-size: 14px;
    width: 100%;
    padding-top: 15px;
    margin-top: 20px;
}

.bat_comm_creat, .bat_comm_creat:hover, .bat_comm_creat:focus, .bat_comm_creat:active {
    height: 50px;
    background: #21a2dc !important;
    background-color: #21a2dc !important;
    box-shadow: none;
    border-radius: 0;
    color: #fff !important;
    font-family: 'Proxima Nova';
    font-size: 13px;
    font-weight: bold;
    padding: 16px 40px;
    text-transform: uppercase;
    border: none;
    float: right;
    margin-bottom: 25px;
}

.block_advert_comments .js-comment .user_name {
    color: #181820;
    font-family: 'MarkProBold';
    font-size: 16px;
    text-decoration: none;
}

.block_advert_comments .js-comment {
    margin-bottom: 25px;
}

.block_advert_comments .col-sm-12 .js-comment span {
    font-family: 'MarkProBold';
    font-size: 12px;
    color: #353548;
    text-decoration: none;
    opacity: 0.5;
}

.block_advert_comments .col-sm-12 .js-comment p {
    font-family: 'MarkProLight';
    font-size: 14px;
    color: #181820;
    text-decoration: none;
    margin-top: 14px;
    opacity: 0.7;
}

.bord_boot .clas_opus_adver {
    text-align: center;
    margin-bottom: 20px;
}

.bord_boot .clas_opus_adver .sp_adv_opus {
    text-align: center;
    font-family: 'MarkProBold';
    font-size: 14px;
    color: #353548;
    text-decoration: none;
    opacity: 0.5;
    text-transform: uppercase;
}

.bord_boot .opus_adver-product .advert-page-detal {
    width: 100%;
    height: 30px;
    background: #21a2dc;
    color: white;
    font-family: 'MarkProBold';
    font-size: 13px;
    padding-top: 8px;
    padding-left: 12px;
}

.bord_boot {
    padding: 22px 35px 15px 33px;
    margin-bottom: 0px;
    border-bottom: 1px solid #e1e1e1;
}

.bord_boot-advert {
    padding: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}

.float_le_advert_hover p {
    margin-bottom: 5px;
}

.bord_boot-public {
    padding: 20px 30px;
    margin-bottom: 15px;
    text-align: center;
}

.bord_boot-cat {
    padding: 20px 30px 25px 34px;
    margin-bottom: 0px;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}

.bord_boot .opus_adver-product .page-size {
    width: 100%;
    height: 30px;
    background: #fff;
    color: #181820;
    font-family: 'MarkProLight';
    font-size: 13px;
    padding-top: 8px;
    padding-left: 12px;
    border-right: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}

.bord_boot .opus_adver-product .page-back-gray {
    width: 100%;
    height: 30px;
    background: #f4f4f4;
    color: #181820;
    font-family: 'MarkProLight';
    font-size: 13px;
    padding-top: 8px;
    padding-left: 12px;
    border-right: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}

.bord_boot .opus_adver-product .page-size .page-siz-left {
    width: 190px;
}

.bord_boot .opus_adver-product .page-back-gray .page-siz-left {
    width: 190px;
}

.clas_img-categ-name {
    text-align: center;
    margin-bottom: 21px;
}

.clas_img-categ-name img {
    margin-right: 11px;
}

.clas_img-categ-name .pad_fash_icon a {
    color: #181820;
    font-family: 'MarkProBold';
    font-size: 15px;
    text-decoration: none;
    position: relative;
    top: 3px;
}

.clas_tags-product .pad_tags_name {
    display: block;
    margin-bottom: 21px;
}

.clas_tags-product .pad_tags_name a {
    font-family: 'MarkProBold';
    font-size: 12px;
    background: #d2d2d2;
    padding: 10px 23px 8px 23px;
    color: #353548;
    text-decoration: none;
    box-shadow: none;
    outline: none;
    border: 1px solid #9194a1;
    text-transform: uppercase;
    margin-right: 4px;
    display: inline-block;
    margin-bottom: 7px;
}

.adv_class_div-icon a {
    font-family: 'MarkProLight';
    color: #181820;
    font-size: 13px;
    padding-right: 5px;
    color: #808080;
    text-decoration: none;
}

.adv_class_div-icon span {
    font-family: 'MarkProLight';
    color: #181820;
    font-size: 13px;
    padding-right: 5px;
    color: #808080;
    text-decoration: none;
    position: relative;
    top: 2px;
}

.adv_class_div-icon a .img_col {
    display: inherit;
    width: auto;
    margin-right: 0px;
    margin-top: -3px;
    cursor: pointer;
}

.adv_class_div-icon .icon_like .img_ico {
    display: inherit;
    width: auto;
    margin-right: 2px;
    margin-top: -3px;
    cursor: pointer;
}

.cla_im_advert {
    width: 237px;
    height: 85px;
    -o-object-fit: fill;
    object-fit: fill;
    border: 1px solid #8597af;
}

.bord_boot-advert .div_img_2 a {
    width: 237px;
    height: 85px;
    padding: 10px;
    display: inline-table;
    border: 1px solid #e7e5e6;
}

.bord_boot-advert .float_le_advert_hover p a {
    margin-top: 22px;
    display: block;
    font-family: 'MarkProBold';
    color: #181820;
    font-size: 16px;
    text-decoration: none;
}

.bord_boot-advert .follow-advert-button button.not_active {
    width: 65%;
    height: 40px;
    margin-top: 10px;
    background: #9c9797;
    border: 0;
    outline: none;
    color: white;
    font-family: "Proxima Nova";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
}

.public-view-search {
    padding: 29px 0px 70px 0 !important;
}

.bord_boot-advert .follow-advert-button button.active {
    width: 65%;
    height: 40px;
    margin-top: 10px;
    background: #21a2dc;
    border: 0;
    outline: none;
    color: white;
    font-family: "Proxima Nova";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
}

.bord_boot-public .div_right_opt .follow-advert-button button.not_active {
    width: 69%;
    height: 40px;
    margin-top: 20px;
    background: #9c9797;
    border: 0;
    outline: none;
    color: white;
    font-family: "Proxima Nova";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
}

.bord_boot-public .div_right_opt .follow-advert-button button.active {
    width: 69%;
    height: 40px;
    margin-top: 20px;
    background: #21a2dc;
    border: 0;
    outline: none;
    color: white;
    font-family: "Proxima Nova";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
}

.bord_boot-public .div_right_opt .public-img-folow a {
    width: 100%;
    height: 120px;
    display: inline-table;
    border: 1px solid #e7e5e6;
}

.bord_boot-public .div_right_opt .public-img-folow a .img_veng {
    width: 150px;
    height: 100px;
    padding-top: 10px;
    margin-top: 9px;
    -o-object-fit: fill;
    object-fit: fill;
}

.adv_class_div-icon .js-like {
    padding-right: 0px;
}

.title-h-nam {
    font-size: 49px;
    font-family: 'MarkProLight';
    text-align: center;
    color: #181820;
    margin-top: 29px;
    opacity: 0.76;
}

.title-h-nam hr {
    border-top: 2px solid #f97f25;
    width: 53px;
    margin-top: 15px;
}

.h1_search-tags {
    margin-top: 80px;
    margin-bottom: 40px;
    color: #181820;
    font-size: 40px;
    font-family: 'MarkProBold';
    text-align: center;
}

.block-sibscribe {
    padding: 27px 29px 29px 30px;
    background-color: #eff2f7;
    margin-bottom: 30px;
}

.block-sibscribe .title-subsc {
    font-family: 'MarkProBold';
    font-size: 16px;
    color: #181820;
    margin-bottom: 10px;
}

.block-sibscribe .descrip-subsc {
    color: #353548;
    opacity: 0.6;
    font-size: 14px;
    font-family: 'MarkProLight';
    padding-right: 25px;
    margin-bottom: 13px;
}

.block-sibscribe input {
    height: 39px;
    border: 1px solid #c7c7c7;
    box-shadow: none;
    border-radius: 0;
    font-family: 'MarkProLight';
    font-size: 13px;
    color: #181820 !important;
    width: 100%;
    padding-left: 16px;
}

.block-sibscribe button {
    width: 100%;
    height: 39px;
    margin-top: 8px;
    background: #21a2dc;
    color: white;
    font-family: 'MarkProBold';
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    outline: none;
    border: none;
    font-size: 12px;
}

.square {
    width: 5px;
    height: 5px;
    z-index: 100;
    background: #cfd0d1;
    position: absolute;
    top: 8px;
    margin-left: -19px;;
}

.news-menu-link {
    position: relative;
}

.news-menu-link .breadcrumbs {
    list-style: none;
    padding: 0;
    display: -webkit-box;
}

.news-menu-link .breadcrumbs .breadcrumb_text a {
    font-family: 'MarkProLight';
    font-size: 14px;
    text-decoration: none;
    color: #181820;
    float: left;
    margin-right: 27px;
}

.news-menu-link .breadcrumbs .breadcrumb_text_li {
    font-family: 'MarkProLight';
    font-size: 14px;
    text-decoration: none;
    color: #ffa942;
    padding-left: 0px;
    float: left;
}

.news-menu-link a {
    font-family: 'MarkProLight';
    font-size: 14px;
    text-decoration: none;
}

.news-menu-link a.news-a-men {
    color: #181820;
}

.news-menu-link a.news-a-men-2 {
    color: #ffa942;
    padding-left: 39px;
}

.title-one-news a {
    font-family: MarkProBold;
    font-size: 28px;
    color: #181820;
    text-decoration: none;
    padding: 30px 35px 30px 0;
}

.title-one-news {
    padding: 6px 40px 23px 0;
}

.date-one-news {
    color: #353548;
    opacity: 0.5;
    font-size: 13px;
    font-family: 'MuseoSansCyrl700';
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.descripthin-one-news {
    color: #181820;
    margin-top: 25px;
    opacity: 0.7;
    font-size: 16px;
    font-family: 'PT_Serif-Web-Regular';
}

.descripthin-one-news p {
    font-family: 'PT_Serif-Web-Regular' !important;
}

.descripthin-one-news span {
    font-family: 'PT_Serif-Web-Regular' !important;
}

.padding-left-null {
    padding-left: 0px;
}

.pad-rig-nesw-one {
    padding-right: 30px !important;
}

.tags-news-one {
    text-decoration: none;
    color: #181820;
    margin-bottom: 15px;
    opacity: 0.7;
    font-size: 12px;
    font-family: 'MarkProBold';
    display: block;
}

.margin-bott-news {
    margin-bottom: 115px !important;
}

.icon-inet img {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 21px;
    height: auto;
}

.icon-inet .author-name {
    font-family: MarkProLight;
    display: block;
    padding-bottom: 40px;
    color: #337ab7;
}

.icon-inet img:hover {
    text-decoration: none;
    transform: scale(1.1);
}

.p-title-profil-oks {
    color: #353548;
    font-family: MarkProBold;
    font-size: 11px;
    opacity: 0.5;
}

.settings-page .help-block {
    display: none;
}

.p-title-profil {
    color: #353548;
    font-family: MarkProBold;
    font-size: 11px;
    opacity: 0.5;
    text-transform: uppercase;
}

.text_empty {
    color: #353548;
    font-family: MarkProLight;
    font-size: 14px;
    margin-top: 25px;
}

.public_view-img {
    display: -webkit-box;
    position: absolute;
    left: 44%;
    margin-left: -10%;
    top: 169px;
}

.public_view-img a {
    width: 150px;
    height: 75px;
    display: inline-table;
    margin-right: 27px;
    margin-top: 13px;
}

.public_view-img a img {
    width: 150px;
    height: 75px;
}

.public_view-img a .class-img-public-view {
    width: 18px;
    height: 19px;
}

.catal_cat_public-view {
    margin-top: 90px;
}

.div_catal_public-view {
    margin-top: 16px;
    position: absolute;
    left: 60px;
    color: #d2d2d2;
    font-family: MarkProLight;
    font-size: 13px;
}

.div_catal_public-view img {
    transform: translateY(-3px);
}

.block-pub-left {
    width: 176px;
    height: 135px;
    border-right: 1px solid #e1e1e1;
}

.public_view-img .a_name-pub {
    font-family: MarkProBold;
    font-size: 18px;
    color: #181820;
    margin-left: 25px;
    padding-top: 30px;
    display: block;
    margin-bottom: 18px;
}

.block-pub-right .not_active {
    height: 40px;
    background: #9c9797;
    border: 0;
    outline: none;
    color: white;
    font-family: "Proxima Nova";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
    margin-left: 25px;
    padding: 0 27px;
}

.block-pub-right .active {
    height: 40px;
    background: #21a2dc;
    border: 0;
    outline: none;
    color: white;
    font-family: "Proxima Nova";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
    margin-left: 25px;
    padding: 0 27px;
}

.a_name-categ-pub {
    font-family: MarkProBold;
    font-size: 13px;
    color: #181820;
    margin-left: 25px;
    padding-top: 0;
    display: block;
    margin-bottom: 16px;
}

.a_name-adv {
    font-family: MarkProBold;
    font-size: 18px;
    color: #181820;
    margin-left: 25px;
    padding-top: 11px;
    display: block;
    margin-bottom: 2px;
}

.section-title-view-prod {
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    font-family: MarkProBold;
    color: #181820;
    margin-bottom: 0px;
    margin-top: 33px !important;
    margin-bottom: 0px;
}

.prem-live-dat {
    height: 55px;
}

.whid-mob {
    margin-bottom: 0px;
}

.prem-live-dat p {
    margin: 0;
}

#news-block .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 0;
    margin-bottom: 38px;
}

#news-block .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.ebar-liv-span {

}

#news-block .owl-dots .owl-dot.active span {
    background: #144f76;
}

#news-block .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 3px 3.5px;
    background: #81a0b6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.select-sort-pad {
    padding-left: 0px;
    padding-right: 0px;
}

#report_zap_table1_id1 thead tr {
    height: 40px;
    background: #21a2dc;
    color: white;
    font-family: 'MarkProLight';
    font-size: 13px;
    padding-top: 8px;
    padding-left: 12px;
}

#notifications_design-container thead tr {
    height: 40px;
    background: #21a2dc;
    color: white;
    font-family: 'MarkProLight';
    font-size: 13px;
    padding-top: 8px;
    padding-left: 12px;
}

#w0-container thead tr {
    height: 40px;
    background: #21a2dc;
    color: white;
    font-family: 'MarkProLight';
    font-size: 13px;
    padding-top: 8px;
    padding-left: 12px;
}

#report_zap_table1_id1 thead tr th a {
    width: 100%;
    height: 40px;
    background: #fbfbfb;
    color: black;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle;
}

#report_zap_table1_id1 {
    border: none;
}

#notifications_design-container thead tr th a {
    width: 100%;
    height: 40px;
    background: #21a2dc;
    color: white;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
}

#w0-container thead tr th a {
    width: 100%;
    height: 40px;
    background: #21a2dc;
    color: white;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
}

#report_zap_table1_id1 thead tr th {
    width: 100%;
    height: 58px;
    background: #fbfbfb;
    color: black;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
    border: none;
    vertical-align: middle;
}

#notifications_design-container thead tr th {
    width: 100%;
    height: 40px;
    background: #21a2dc;
    color: white;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
    border: 1px solid #c6c6c6;
}

#w0-container thead tr th {
    width: 100%;
    height: 40px;
    background: #21a2dc;
    color: white;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
    border: 1px solid #c6c6c6;
}

#notifications_design-container tbody tr:nth-of-type(odd) {
    height: 40px;
    background: #fff;
}

#w0-container tbody tr:nth-of-type(odd) {
    height: 40px;
    background: #fff;
}

#report_zap_table1_id1 tbody tr td {
    height: 85px;
    color: #181820;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
    border: none;
    vertical-align: middle;
}

#notifications_design-container tbody tr td {
    height: 40px;
    color: #181820;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
}

#w0-container tbody tr td {
    height: 40px;
    color: #181820;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
}

#w0-container tbody tr td img {
    max-width: 70px !important;
}

#report_zap_table1_id1 tbody tr td a {
    height: 40px;
    color: #181820;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
}

#notifications_design-container tbody tr td a {
    height: 40px;
    color: #181820;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
}

#w0-container tbody tr td a {
    height: 40px;
    color: #181820;
    font-family: 'MarkProLight';
    font-size: 13px;
    text-decoration: none;
}

#manager-table .summary {
    font-family: 'MarkProLight';
    font-size: 14px;
    color: #181820;
    margin-bottom: 21px;
}

#notifications_design .summary {
    font-family: 'MarkProLight';
    font-size: 14px;
    color: #181820;
    margin-bottom: 21px;
}

#w0 .summary {
    font-family: 'MarkProLight';
    font-size: 14px;
    color: #181820;
    margin-bottom: 21px;
}

.clas_pos_re, .clas_pos_re:hover, .clas_pos_re:focus, .clas_pos_re:active {
    width: 16%;
    height: 40px;
    margin-top: 20px;
    background: #21a2dc;
    border: 0;
    outline: none;
    color: white;
    font-family: "Proxima Nova";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: -34px;
}

#report_zap_table1_id1 thead tr th:nth-child(1) {
    width: 13% !important;
    padding-left: 20px;
}

#report_zap_table1_id1 tbody tr td:nth-child(1) {
    width: 13% !important;
    padding-left: 20px;
}

#report_zap_table1_id1 thead tr th:nth-child(2) {
    width: 19% !important;
}

#report_zap_table1_id1 thead tr th:nth-child(3) {
    width: 25% !important;
}

#report_zap_table1_id1 thead tr th:nth-child(4) {
    width: 20% !important;
}

#report_zap_table1_id1 thead tr th:nth-child(5) {
    width: 15% !important;
}

#report_zap_table1_id1 thead tr th:nth-child(6) {
}

#report_zap_table1_id1 tbody tr td:nth-child(6) {
    display: block;
}

.js-update-manager i {
    background: url(/images/edit-document-button-icon.png) no-repeat;
    width: 18px;
    height: 19px;
    display: block;
    margin-top: 21px;
    cursor: pointer;
    float: left;

}

.sp_poz-ab {
    background: url(/images/delete1600.png) no-repeat;
    width: 16px;
    height: 19px;
    display: block;
    margin-top: 21px;
    cursor: pointer;
    float: left;
    margin-left: 12px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

#report_zap_table1_id1 tbody {
    background: white;
}

#report_zap_table1_id1 tbody tr {
    border-bottom: 1px solid #efefef;
}

#w0-container thead tr th:nth-child(1) {
    width: 20% !important;
}

#w0-container thead tr th:nth-child(2) {
    width: 7% !important;
}

#w0-container thead tr th:nth-child(3) {
    width: 25% !important;
}

#w0-container thead tr th:nth-child(4) {
    width: 7% !important;
}

#notifications_design-container thead tr th:nth-child(1) {
    width: 1% !important;
}

#notifications_design-container thead tr th:nth-child(2) {
    width: 35% !important;
}

#notifications_design-container thead tr th:nth-child(3) {
    width: 35% !important;
}

#notifications_design-container thead tr th:nth-child(4) {
    width: 11% !important;
}

.list_group_cat .col_sidb .cbx-container .cbx-active {
    width: 15px;
    height: 15px;
    border: 1px solid #c7c7c7;
    border-radius: 0px;
    margin-right: 11px;
    float: left;
}

.list_group_cat .col_sidb .cbx-container .cbx-active .cbx-icon .glyphicon-ok {
    background: url(/images/rectangle-12.png) center no-repeat;
    width: 9px;
    height: 9px;
    top: 1px;
    left: 1px;
    position: absolute;
}

.list_group_cat .col_sidb .cbx-container .cbx-active .cbx-icon .glyphicon-ok:before {
    content: "";
}

.class-plag-col-count {
    background-position-x: 165px !important;
    margin-bottom: 40px !important;
    margin-top: 0px !important;
}

.class-plag-count {
    margin: 20px 0px;
    height: 38px;
    padding: 0 27px 0 15px;
    color: #181820;
    font-family: MarkProLight;
    font-size: 14px;
    border: 1px solid #d9d6d6;
    -webkit-appearance: none;
    background: url(/images/112233.png) right no-repeat;
    background-position-x: 127px;
    background-color: white;
    border-radius: 0px;
    box-shadow: none;
}

.news-menu-link .breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    border-radius: 4px;
    display: -webkit-inline-box;
    background-color: white;
}

#request-password-reset-form .help-block {
    display: none;
}

#buttom_request_pass {
    text-align: center;
}

.news-menu-link .breadcrumb > li + li:before {
    padding: 0;
    color: white;
    content: "";
    width: 5px;
    height: 5px;
    background: #cfd0d1;
    position: absolute;
    top: 7px;
    margin-left: -15px;
}

.news-menu-link .breadcrumb li:first-child {
    margin-left: 0px;
}

.news-menu-link .breadcrumb li {
    margin-right: 10px;
}

.news-menu-link .breadcrumb li.active {
    font-family: 'MarkProLight';
    font-size: 14px;
    text-decoration: none;
    color: #ffa942;
    padding-left: 0px;
    float: right;
    margin-left: 4px;
    display: none;
}

.news-menu-link .breadcrumb li a {
    font-size: 14px;
    text-decoration: none;
    color: #181820;
    float: left;
    margin-right: 9px;
    margin-left: 0px;
}

.creat-pran-botton, .creat-pran-botton:hover, .creat-pran-botton:focus, .creat-pran-botton:active, .creat-pran-botton:active:hover, .creat-pran-botton:active:focus {
    height: 40px;
    background: #21a2dc;
    border: 0;
    outline: none;
    color: white;
    font-family: "Proxima Nova";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
    float: left;
    margin-bottom: 19px;
    line-height: 28px;
}

.save-bot-crea, .save-bot-crea:hover, .save-bot-crea:focus, .save-bot-crea:active, .save-bot-crea:active:hover, .save-bot-crea:active:focus {
    height: 40px;
    background: #21a2dc;
    border: 0;
    outline: none;
    color: white;
    font-family: "Proxima Nova";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
    float: left;
    margin-bottom: 19px;
    line-height: 28px;
    padding: 6px 25px;
}

.select-sort_da {
    margin-bottom: 19px;
}

#w0 .main-checkbox-style_pab_sett {
    margin-bottom: 15px;
}

#w0 .main-checkbox-style_pab_sett .cbx-container .cbx-label {
    color: #181820;
    font-family: 'MarkProLight';
    font-size: 14px;
    text-decoration: none;
}

#notifications_design-container .kv-table-wrap thead tr th .cbx-container .cbx-md {
    width: 23px;
    height: 23px;
    border: 1px solid #c7c7c7;
    border-radius: 0px;
}

#notifications_design-container tbody tr td .cbx-container .cbx-md {
    width: 23px;
    height: 23px;
    border: 1px solid #c7c7c7;
    border-radius: 0px;
}

#w0 .main-checkbox-style_pab_sett .cbx-container .cbx-md {
    width: 20px;
    height: 20px;
    border: 1px solid #c7c7c7;
    border-radius: 0px;
}

#w0 .main-checkbox-style_pab_sett .cbx-container .cbx-md .glyphicon-ok {
    background: url(/images/rectangle15.png) center no-repeat;
    width: 15px;
    height: 15px;
    top: 0px;
    left: 0px;
    position: absolute;
}

#notifications_design-container .kv-table-wrap thead tr th .cbx-container .cbx-md .glyphicon-ok {
    width: 15px;
    height: 15px;
    top: 2px;
    left: 2px;
    position: absolute;
    background: white;
}

#notifications_design-container tbody tr td .cbx-container .cbx-md .glyphicon-ok {
    width: 15px;
    height: 15px;
    top: 2px;
    left: 2px;
    position: absolute;
    background: url(/images/rectangle15.png) center no-repeat;
}

#w0 .main-checkbox-style_pab_sett .cbx-container .cbx-md .glyphicon-ok:before {
    content: "";
}

#notifications_design-container .kv-table-wrap thead tr th .cbx-container .cbx-md .glyphicon-ok:before {
    content: "";
}

#notifications_design-container tbody tr td .cbx-container .cbx-md .glyphicon-ok:before {
    content: "";
}

.span-to {
    position: relative;
    top: inherit;
    bottom: 10px;
    left: 4px;
}

.featured-image-caption {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    background-color: rgb(251, 251, 251);
    padding-left: 15px;
}

.featured-image-caption .content-width-responsive, .inline-image-caption {
    padding: 16px 0 18px 25px;
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Adelle, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 20px;
    color: #a1a1a1;
    margin: 0 auto;
}

@media only screen and (max-width: 1024px) and (min-width: 600px), only screen and (max-width: 1024px) and (min-width: 600px) and (orientation: landscape) {
    .content-width-responsive {
        max-width: 640px;
    }
}

.content-width-responsive, .site-width {
    max-width: 940px;
}

@media only screen and (max-width: 599px), only screen and (max-width: 736px) and (orientation: landscape), only screen and (max-width: 1024px) and (min-width: 600px) {
    .content-width, .content-width-responsive, .site-width {
        width: 86.25vw;
    }
}

@media only screen and (min-width: 1025px) {
    .featured-image-caption:after {
        left: calc((100% - 940px) / 2);
    }
}

@media only screen and (min-width: 600px) {
    .featured-image-caption .icon-camera, .inline-image-caption .icon-camera {
        font-size: 20px;
        line-height: 20px;
        top: calc((22px + ((20px - 2px) / 2)));
    }
}

.featured-image-caption .icon-camera, .inline-image-caption .icon-camera {
    font-size: 18px;
    line-height: 18px;
    color: #bebebe;
    position: absolute;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

i {
    font-style: italic;
}

.icon-camera:before {

}

.featured-image-caption:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    border-bottom: 1px solid #e2e2e2;
    left: 0;
}

@media only screen and (min-width: 600px) {
    .featured-image-caption .content-width-responsive, .inline-image-caption {
        padding: 22px 0 20px 27px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    #signupModal .modal-dialog, #loginModal .modal-dialog {
        width: 555px;
        margin-top: 4% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #signupModal .modal-dialog, #loginModal .modal-dialog {
        width: 555px;
        margin-top: 4% !important;
    }

    .block-left-brand {
        width: 20%;
        float: left;
        padding-right: 0;
    }

    .block-right-brand {
        width: 80%;
        padding-left: 15px;
        float: left;
    }

    .back_page-product-view {
        padding-top: 102px;
        background-color: #eff2f7;
    }

    .bord_boot-advert .follow-advert-button button.not_active {
        width: 85%;
    }

    .bord_boot-advert .follow-advert-button button.active {
        width: 85%;
        font-size: 12px;
    }

    .bord_boot-public .div_right_opt .follow-advert-button button.not_active {
        width: 91%;
        font-size: 12px;
    }

    .bord_boot-public .div_right_opt .follow-advert-button button.active {
        width: 91%;
    }

    .margin-bot {
        margin-bottom: 42px;
    }
}

@media (min-width: 1400px) and (max-width: 1920px) {
    .public_view-img {
        display: -webkit-box;
        position: absolute;
        left: 47%;
        margin-left: -10%;
        top: 169px;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {
    .margin-bot {
        margin-bottom: 42px;
    }

    .whith-profil-menu-admin .category-menu .category-menu-item:nth-child(5) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .whith-profil-menu-admin .category-menu .category-menu-item:nth-child(8) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .select-sort_da {
        width: 19%;
        margin-bottom: 19px;
    }

    #news-block .owl-nav .owl-prev {
        background: url(/images/ic_keyboard_arrow_left_black_24px.png) no-repeat;
        background-size: 100%;
        background-position: center;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        color: #144f76;
        top: 46%;
        left: -53px;
        margin-top: -40px;
    }

    #news-block .owl-nav .owl-next {
        background: url(/images/ic_keyboard_arrow_left_black_24px1.png) no-repeat;
        background-size: 100%;
        background-position: center;
        float: right;
        width: 40px;
        height: 40px;
        position: absolute;
        right: -53px;
        color: #144f76;
        top: 46%;
        margin-top: -40px;
    }

    #signupModal .modal-dialog, #loginModal .modal-dialog {
        width: 555px;
        margin-top: 160px;
    }

    .whith-profil-menu-admin {
        width: 100%;
        margin-left: 0;
        margin-bottom: 29px;
    }

    .col-main {
        width: 11.11111111%;
        float: left;
        width: 11.11111111%;
        float: left;
        margin-top: 0px !important;
        transform: translateY(1px) !important;
    }

    .whid-mob {
        margin-bottom: 0px;
        position: relative;
        top: 5px;
    }

    .adverties-sidebar .adverties-follow-count {
        margin-top: 17px !important;
    }

    .col-20-proz {
        width: 20%;
    }

    .product-fiv-pading:nth-child(5n) {
        padding-right: 0px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .bord_boot-public .div_right_opt .follow-advert-button button.not_active {
        width: 67%;
    }

    #clas_summ {
        margin-top: 23px;
    }

    .clas_pos_re, .clas_pos_re:hover, .clas_pos_re:focus, .clas_pos_re:active {
        top: -9px;
    }

    #news-block .owl-nav .owl-prev {
        display: none;
    }

    #news-block .owl-nav .owl-next {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .bord_boot .opus_adver-product .page-size .page-siz-left {
        width: 50%;
    }

    .wra2p2 {
        margin-top: 149px;
        overflow: hidden;
    }

    .block_advert_comments {
        padding: 30px 24px 0px 27px;
        display: flow-root;
    }

    .product-one-all-no-home .product-one-to-all .paper-title-container .paper-title {
        font-size: 12px;
    }

    #clas_summ {
        margin-top: 23px;
    }

    .clas_pos_re, .clas_pos_re:hover, .clas_pos_re:focus, .clas_pos_re:active {
        top: -9px;
        width: 19%;
        letter-spacing: 1px;
    }

    #report_zap_table1_id1 thead tr th:nth-child(3) {
        width: 24% !important;
    }

    #report_zap_table1_id1 thead tr th:nth-child(2) {
        width: 14% !important;
    }

    .public_view-img {
        display: -webkit-box;
        position: absolute;
        left: 41%;
        margin-left: -10%;
        top: 112px;
    }

    #report_zap_table1_id1 thead tr th:nth-child(4) {
        width: 20% !important;
    }

    #report_zap_table1_id1 thead tr th:nth-child(5) {
        width: 15% !important;
    }

    #news-block .owl-nav .owl-prev {
        display: none;
    }

    #news-block .owl-nav .owl-next {
        display: none;
    }

    .whid-mob {
        width: 29% !important;
    }
}

.js-update-manager i {
    background: none;
    float: inherit;
    width: 0px;
    height: 0px;
    display: inherit;
}

.class-g i {
    background: url(/images/edit-document-button-icon.png) no-repeat;
    width: 18px;
    height: 19px;
    display: block;
    margin-top: 21px;
    cursor: pointer;
    float: left;
}

@media (min-width: 769px) and (max-width: 1198px) {
    .bord_boot .opus_adver-product .page-size .page-siz-left {
        width: 50%;
    }

    .dis_web {
        display: block;
    }

    .block-left-brand {
        width: 26%;
        float: left;
    }

    .block-right-brand {
        width: 74%;
        padding-left: 15px;
        float: left;
    }

    .block-right-brand .owl-carousel .owl-nav .owl-prev {
        bottom: 0;
        left: 0;
        top: inherit;
    }

    .block-right-brand .owl-carousel .owl-nav .owl-next {
        right: 0;
        color: #144f76;
        bottom: 0;
        top: inherit;
    }

    .dis_web {
        display: block;
    }

    .left_product-block .img-product {
        height: 672px;
    }

    .bord_boot-public .div_right_opt .follow-advert-button button.active {
        width: 67%;
    }
}

@media (min-width: 654px) and (max-width: 694px) {
    .sp_poz-ab {
        margin-left: 0px;
    }
}

@media (min-width: 320px) and (max-width: 653px) {
    .sp_poz-ab {
        margin-top: 12px;
        margin-left: 0;
    }

    .js-update-manager i {
        margin-top: 10px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .bord_boot .opus_adver-product .page-size .page-siz-left {
        width: 50%;
    }

    .dis_web {
        display: block;
    }

    .catal_cat_public-view {
        margin-top: 29px;
    }

    .wra2p2 {
        margin-top: 51px;
    }

    .backg-new-view {
        display: flow-root !important;
        padding-left: 15px;
    }

    .featured-image-caption .icon-camera, .inline-image-caption .icon-camera {
        top: 26px;
    }

    .backg-new-view .padding_0 {
        text-align: center;
    }

    .pad-rig-nesw-one {
        padding-right: 0 !important;
    }

    #clas_summ {
        margin-top: 23px;
    }

    .colection-sidebar .colection-description {
        max-height: 110px !important;
        height: auto !important;
    }

    /*.col-slad .colection-description {*/
    /*height: 70px!important;*/
    /*}*/
    .clas_pos_re, .clas_pos_re:hover, .clas_pos_re:focus, .clas_pos_re:active {
        top: -9px;
        width: 45%;
        letter-spacing: 1px;
        font-size: 11px;
    }

    #notifications_design-container thead tr th:nth-child(1) {
        width: 100% !important;
        padding-right: 0;
        padding-left: 0;
    }

    #report_zap_table1_id1 thead tr th:nth-child(2) {
        width: 16% !important;
    }

    #w0-container thead tr {
        display: none;
    }

    .pad-mob-0 {
        padding: 0 15px 0 15px;
    }

    #w0-container tbody tr td {
        margin-top: 0px;
    }

    #notifications_design-container thead tr th:nth-child(2) {
        width: 100% !important;
        padding-right: 0;
        padding-left: 0;
    }

    #notifications_design-container tbody tr td {
        padding-right: 0;
        padding-left: 0;
        margin-top: 0px;
    }

    #notifications_design-container thead tr th:nth-child(3) {
        display: none;
    }

    #notifications_design-container thead tr th:nth-child(4) {
        display: none;
    }

    .live_data_3 {
        margin-left: 1px;
        padding-left: 2px;
    }

    .ebbar-span {
        padding-right: 1px;
    }

    .nth-chil-prod:nth-child(4) {
        padding-right: 13px !important;
    }

    #news-block .owl-nav .owl-prev {
        display: none;
    }

    #news-block .owl-nav .owl-next {
        display: none;
    }

    .news-index {
        margin-top: 20px !important;
    }

    .margin-bot {
        margin-bottom: 29px;
    }

    .butom_print-news {
        font-size: 12px !important;
        background: #f2f2f2 !important;
    }

    .get-data-create-news {
        margin-top: 18px;
        margin-bottom: 7px;
    }

    .title-news {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .title-news a {
        font-size: 17px;
    }

    .public_view-img {
        display: flow-root;
        position: relative;
        left: 0;
        margin-left: 0;
        top: 0;
    }

    .public_view-img a img {
        height: 130px;
        display: inline-table;
        margin-right: 0;
        margin-top: 0px;
        margin-left: 20%;
        width: 60%;
        -o-object-fit: fill;
        object-fit: fill;
    }

    .public_view-img a {
        width: 100%;
        height: 130px;
        display: inline-table;
        margin-right: 0;
        margin-top: 0px;
    }

    .div_catal_public-view {
        margin-top: 20px;
        position: relative;
        left: 0;
        color: #d2d2d2;
        font-family: MarkProLight;
        font-size: 13px;
        display: block;
        text-align: center;
    }

    .block-pub-right {
        text-align: center;
        padding-top: 20px;
    }

    .public_view-img .a_name-pub {
        font-family: MarkProBold;
        font-size: 18px;
        color: #181820;
        margin-left: 0;
        padding-top: 33px;
        display: block;
        margin-bottom: 11px;
    }

    .public_view-img .a_name-adv {
        font-family: MarkProBold;
        font-size: 18px;
        color: #181820;
        margin-left: 0;
        padding-top: 33px;
        display: block;
        margin-bottom: 11px;
    }

    .public_view-img .a_name-adv {
        font-family: MarkProBold;
        font-size: 18px;
        color: #181820;
        margin-left: 0;
        padding-top: 33px;
        display: block;
        margin-bottom: 11px;
    }

    .block-pub-right .not_active {
        margin-left: 0;
    }

    .block-pub-right .active {
        margin-left: 0;
    }

    .block-pub-left {
        width: 100%;
        height: 135px;
        border-right: none;
    }

    .bat_comm_creat, .bat_comm_creat:hover, .bat_comm_creat:focus, .bat_comm_creat:active {
        width: 100%;
    }

    .box-center {
        width: 100%;
        padding: 0 15px;
    }

    .icon-inet {
        margin-top: 15px;
    }

    .block-sibscribe {
        text-align: center;
    }

    .margin-bott-news {
        margin-bottom: 0 !important;
    }

/*    .left_product-block .img-product {
        height: 571px;
    }*/

    .product-one-all-no-home .product-one-to-all .img_ki_44 {
        margin-bottom: 20px;
        height: 140px;
    }

    .product-one-all-no-home .product-one-to-all .im_ju_3 .data_tovar_catal111 {
        padding-left: 14px;
        font-family: MarkProLight;
        font-size: 12px;
        color: #8c8f91;
        margin-bottom: 0;
        text-align: left;
    }

    .product-one-all-no-home .product-one-to-all .name_naw_catal111, .product-one-all-no-home .product-one-to-all .name_naw_catal111:hover {
        padding-left: 14px;
        font-family: MarkProBold;
        font-size: 16px;
        color: #000;
        margin-bottom: 0;
        display: block;
        padding-right: 0px;
        height: 50px;
        overflow: hidden;
        text-decoration: none;
        text-align: left;
    }

    .product-one-all-no-home .product-one-to-all .paper-title-container {
        height: 45px;
        padding-left: 14px;
        margin-top: -5px;
        text-align: left;
    }

    .product-one-all-no-home .product-one-to-all .div_bot_56 {
        padding: 14px 0 0 14px;
        height: 70px;
    }

    .category-hr-menu {
        border-bottom: 1px solid #cfcdcd;
        margin-top: 21px;
        margin-bottom: 20px;
    }

    .pos-n-categ {
        padding-right: 0px;
        background: white;
        position: relative;
        bottom: 23px;
        padding-bottom: 1px;
    }

    .block-left-brand {
        width: 100%;
        float: left;
    }

    .block-right-brand {
        width: 100%;
        padding-left: 15px;
        float: left;
    }

    .block-right-brand .owl-carousel .owl-nav .owl-prev {
        display: none;
    }

    .block-right-brand .owl-carousel .owl-nav .owl-next {
        display: none;
    }

    .menu-news .btn-primary.btn-prim-mob {
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        color: white;
        height: 40px;
        border-radius: 0px;
        line-height: 28px;
        border: none;
        background-color: #21a2dc;
        box-shadow: none;
        padding: 6px 20px 6px 15px;
        width: 100%;
        z-index: 100;
        position: relative;
        display: none;
        border-top: 1px solid white;
    }

    .menu-news .btn-primary.btn-prim-mob-menu {
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        color: white;
        height: 40px;
        border-radius: 0px;
        line-height: 28px;
        border: none;
        background-color: #21a2dc;
        box-shadow: none;
        padding: 6px 20px 6px 15px;
        width: 100%;
        z-index: 100;
    }

    .menu-news {
        display: inline;
        position: relative;
        bottom: 20px;
    }

    .arr_top-news {
        float: right;
        background: url(/images/ic_keyboard_arrow_left_black-2.png) center no-repeat;
        width: 13px;
        height: 21px;
        position: absolute;
        top: 0px;
        right: 16px;
        bottom: 0;
        cursor: pointer;
    }

    .arr_top-news.arr_bot-news {
        transform: rotate(180deg);
        float: right;
        background: url(/images/ic_keyboard_arrow_left_black-2.png) no-repeat;
        width: 13px;
        height: 16px;
        position: absolute;
        cursor: pointer;
        z-index: 101;
        top: 0px;
        right: 16px;
        bottom: 0;
    }

    .menu-news .btn-primary.btn-prim-mob.list_group-news {
        display: block;
    }

    .colection-sidebar {
        text-align: center;
    }

    .collec-prod {
        width: 175px;
        height: 49px;
        margin-top: 20px;
        background: #9c9797;
        border: 0;
        outline: none;
        color: white;
        font-family: MarkProLight;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .colection-sidebar .colection-description {
        padding-bottom: 15px;
    }

    .coll-dis {
        clear: both;
        text-align: center;
        margin-bottom: 30px;
    }

    .colection-sidebar .colection-icons {
        padding-top: 10px;
    }

    .product-one-all-no-home .product-one-to-all {
        min-height: 295px;
    }

    .col-form-group {
        padding-top: 28px;
        clear: both;
        padding-bottom: 5px;
    }

    .cont-ro-pad {
        padding: 20px 0px 0px 0 !important;
    }

    .colection-sidebar .colection-name:hover {
        font-size: 22px;
        color: #181820;
        font-family: MarkProBold;
        margin: 0 auto;
        display: block;
        text-decoration: none;
    }

    .adverties-sidebar .adverties-follow-count {
        margin-top: 33px;
        border-top: 1px solid #d2d2d2;
        padding-top: 17px;
        text-align: center;
    }

    .block-band-rig {
        margin-bottom: 14px;
    }

    .publications-sidebar .publications-info .publications-info-name {
        padding-bottom: 17px;
    }

    .trend-sidebar {
        text-align: center;
    }

    .trend-sidebar .trend-description {
        padding-bottom: 18px;
    }

    .trend-sidebar .follow-btn, a.all-trend {
        width: 175px !important;
        margin: 0 auto;
    }

    .cat-reg-by {
        padding: 0 !important;
    }

    .inpur-search-gro {
        padding: 0 15px !important;
    }

    .par_right-0 {
        padding-right: 15px;
    }

    div.category-index .product-container-padding:nth-child(2n) {
        padding: 0px !important;
    }

    .block_advert_comments {
        padding: 30px 15px 0px 15px;
        display: flow-root;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .back_page-product-view {
        padding-top: 20px;
    }

    .bord_boot {
        padding: 0;
        margin-bottom: 0px;
        border-bottom: 0px;
    }

    .bord_boot .clas_opus_adver {
        margin-bottom: 17px;
        padding-top: 0px;
    }

    .bord_boot-advert {
        padding: 0;
        border-bottom: 1px solid #e1e1e1;
        text-align: center;
        padding-bottom: 20px;
    }

    .bord_boot-advert .float_le_advert_hover p a {
        margin-top: 20px;
    }

    .bord_boot-advert .float_le_advert_hover p {
        margin-bottom: 0px;
    }

    .left_product-block .img-product {
        padding-top: 5px;
        padding-left: 0px;
    }

    .back_page-product-view {
        background-color: white;
    }

    .left_product-block .img-product {
        box-shadow: 1px 4px 25px #e5e5e6;
    }

    .float_advert_ico-left {
        float: inherit;
        padding-top: 10px;
        text-align: center;
    }

    .like-block-right {
        float: inherit;
        position: relative;
        bottom: 0;
        left: 0;
        top: 17px;
    }

    .float_advert_link-rigth a:nth-child(2) {
        margin-right: 0px;
    }

    .advert_div-left_block {
        height: inherit;
        padding: 23px 0px 0 0px;
        border-bottom: 0px;
        margin-bottom: 20px;
    }

    .follow-advert-button {
        margin-top: 28px;
    }

    .border-righ {
        border-right: 0px;
    }

    .container_product-view {
        padding-right: 0;
        padding-left: 0;
    }

    .adv_class_div-icon .js-like {
        padding-right: 0px;
        margin-right: 0;
    }

    .float_advert_link-rigth a .style_img_col {
        margin-right: 0px;
    }

    .adv_class_div-icon a {
        margin-right: 0;
    }

    .adv_class_div-icon a img {
        margin-right: 0px;
    }

    .bord_boot-public .div_right_opt .follow-advert-button button.not_active {
        width: 85%;
        height: 40px;
        margin-top: 0;
        background: #9c9797;
        border: 0;
        outline: none;
        color: white;
        font-size: 13px;
        font-family: "Proxima Nova";
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 0px;
        box-shadow: none;
    }

    .bord_boot-public .div_right_opt .follow-advert-button button.active {
        width: 85%;
        height: 40px;
        margin-top: 0;
        background: #21a2dc;
        border: 0;
        outline: none;
        color: white;
        font-size: 13px;
        font-family: "Proxima Nova";
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 0px;
        box-shadow: none;
    }

    .bord_boot-advert .follow-advert-button button.not_active {
        width: 69%;
    }

    .bord_boot-advert .follow-advert-button button.active {
        width: 69%;
    }

    .related-adverts-block {
        padding: 0px 24px 0px 27px;
        display: flow-root;
    }

    .releat_adverts {
        font-family: 'MarkProBold';
        font-size: 17px;
        color: #181820;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 29px;
        text-align: center;
    }

    .coments_1 {
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 370px) {
    .product-one-all-no-home .product-one-to-all .paper-title-container .paper-title {
        font-size: 9px;
    }
}

@media (min-width: 371px) and (max-width: 768px) {
    .product-one-all-no-home .product-one-to-all .paper-title-container .paper-title {
        font-size: 11px;
    }
}

.embed-wrap {
    position: relative;
}

.embed-box {
    background: #ffffff;
    display: none;
    position: absolute;
    min-height: 214px;
    border: 1px solid #f5f5f5;
    z-index: 10;
    width: 350px;
    height: 100px;
    bottom: calc(100% + 20px);
    left: -50%;
    text-align: left;
    padding: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.embed-box.open {
    display: block;
}

.embed-box:before {
    display: block;
    content: '';
    position: absolute;
    color: #fff;
    transform: rotate(225deg);
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-left: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
    z-index: 10;
    bottom: -8px;
    left: 100px;
    box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.1);
}

.embed-box .title {
    font-family: MarkProBold;
    font-size: 14px;
    color: #181820;
}

.embed-box textarea.source-code {
    width: 100%;
    height: 80px;
    resize: none;
    border: 1px solid #f5f5f5;
    padding: 10px;
    margin-top: 15px;
    font-family: monospace;
    font-weight: 100;
    font-size: 13px;
    color: #181820;
    padding: 5px;
}

.embed-box .embed-panel {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background: #f0f0f0;
    float: left;
    position: relative;
}

.embed-box .embed-panel:before {
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    left: 15px;
    background: #f0f0f0;
    transform: rotate(45deg);
}

.embed-box .embed-panel .fields {
    padding-top: 10px;
}

.embed-box .embed-panel .fields .group-width,
.embed-box .embed-panel .fields .group-height {
    width: 50%;
    height: 30px;
    float: left;
    padding-left: 10px;
}

.embed-box .embed-panel .fields .group-width label,
.embed-box .embed-panel .fields .group-height label {
    font-family: MarkProBold;
    font-size: 11px;
    color: #aeaeae;
}

.embed-box .embed-panel .fields .group-width input,
.embed-box .embed-panel .fields .group-height input {
    width: 50px;
    height: 30px;
    border: 1px solid #f5f5f5;
    font-family: 'MarkProBold';
    font-size: 12px;
    color: #181820;
    margin-left: 15px;
    padding: 5px;
}

.embed-box button.embed-close {
    width: 21px;
    height: 21px;
    background: #06aeea !important;
    border-radius: 0;
    border: none;
    outline: none;
    padding: 0;
    font-family: 'proxima_nova_ltsemibold';
    font-size: 13px;
    color: #ffffff;
    position: absolute;
    top: 5px;
    right: 5px;
}

.fr-box .fr-wrapper a[href^="https://www.froala.com"] {
    opacity: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    font-size: 0px !important;
}

@media (max-width: 414px) {
/*    .border-righ {
        padding-top: 145px;
    }*/

    .block-right-brand {
        border-bottom: 1px solid #cccccc;
        padding-left: 0;
        padding-bottom: 15px;
    }
    .ro_marg_0{
        margin-bottom: 20px;
    }

    .colection-sidebar .colection-icons {
        padding-top: 0;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .poz-absol-top {
        position: absolute;
    }
}

@media (min-width: 320px) and (max-width: 1198px) {
    .bord_boot .opus_adver-product .advert-page-detal {
        text-align: center;
    }

    .bord_boot .opus_adver-product .page-back-gray .page-siz-left {
        width: 50%;
    }

    .opus_adver-product {
        margin-bottom: 30px;
    }
}
@media (min-width: 768px){
    .manager-ads-height{
        min-height: 400px;
    }
    .manager-empty-ads{
        color: #353548;
        font-family: MarkProBold;
        font-size: 20px;
        margin-top: 40px;
    }
}