@import "/fonts/proxima-nova/fonts.min.css";

.profile-pages {
    background-color: #eff2f7;
    padding-bottom: 40px;
}

.profile-pages .member-info {
    margin-top: 80px;
    text-align: center;
}

.member-info h1 {
    font-family: MarkProBold;
    font-size: 30px;
    color: #181820;
    margin: 0;
}

.member-info h1.member-info-name {
    font-family: MarkProBold;
    font-size: 30px;
    color: #181820;
}

.member-info span.member-info-date {
    font-family: MarkProLight;
    font-size: 14px;
    color: rgba(24, 24, 32, 0.43);
}

div.category-menu {
    border-bottom: 1px solid #d3d3d3;
    margin: 0;
}

div.category-menu[profile-menu] {
    margin-top: 30px;
}

div.category-menu > div.category-menu-item {
    transform: translateY(1px);
}

div.category-menu > div.category-menu-item {
    margin-top: 15px;
    border-bottom: 3px solid transparent;
}

div.category-menu > div.category-menu-item.active {
    border-bottom: 3px solid #21a2dc;
}

div.category-menu > div.category-menu-item a {
    display: block;
    font-size: 11px;
    text-align: center;
    color: rgba(53, 53, 72, 0.5);
    font-family: MarkProLight;
    text-decoration: none;
    padding-bottom: 17px;
}

div.category-menu > div.category-menu-item a:hover,
div.category-menu > div.category-menu-item a:visited,
div.category-menu > div.category-menu-item a:focus {
    color: rgba(53, 53, 72, 0.5);
}

div.category-menu > div.category-menu-item .count-items {
    font-size: 22px;
    color: #181820;
    font-family: MarkProBold;
}
.has-error input {
    border: 1px solid red!important;
}

.profile-products {
    padding: 0 8px;
    margin-top: 42px;
}

.profile-product-item {
    padding: 0 7px;
}

.advert-box {
    padding-right: 0;
    margin-top: 45px;
}
.backg-new-view {
    background-color: rgb(251, 251, 251);
    display: -webkit-inline-box;
    padding-left: 15px;
    width: 100%;
}
.style-share {
    color: #181820;
/*    margin-bottom: 15px;*/
    opacity: 0.7;
    font-size: 12px;
    font-family: 'MuseoSansCyrl700';
    display: block;
    font-weight: bold;
}
.icon-inet{
/*    margin-bottom: 20px;*/
}
.sec-h1-error h1{
    text-align: center;
    font-size: 45px!important;
    line-height: 40px;
    font-family: MarkProBold;
    color: #04adea;
    margin-bottom: 0px;
    margin-top: 33px !important;
    margin-bottom: 10px;
}
.categories-box_about .alert-danger{
    color: #04adea;
    font-size: 30px;
    font-family: MarkProBold;
    text-align: center;
    background: none;
    border: none;
}
.categories-box_about .class-err p{
    color: #181820;
    opacity: 0.6;
    font-size: 19px;
    font-family: MarkProBold;
    text-align: center;
    margin-bottom: 25px;
}
.form-news-letr #form-newslater2 .block-sibscribe .alert_fade_sign_up  {
    display: none!important;
}
@media (max-width: 767px) {
    .di2s_web222 {
        padding-top: 20px;
    }

    div.category-menu {
        border-bottom: 0;
    }

    div.category-menu > div.category-menu-item {
        margin-top: 0;
        padding: 0;
        border-bottom: 1px solid #d3d3d3;
    }

    div.category-menu > div.category-menu-item a {
        text-align: left;
        font-size: 15px;
        font-family: MarkProBold;
        color: rgba(53, 53, 72, 0.5);
        padding: 15px 0 5px 0;
    }

    div.category-menu > div.category-menu-item a .count-items {
        font-size: 15px;
        color: #181820;
        font-family: MarkProBold;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
    }
}

@media (max-width: 767px) {
    .my-col-xs {
        width: 50%;
        float: left;
    }
    .form-news-letr #form-newslater2 .alert-subscribe-home {
        top: calc( 87% + 7px )!important;
        color: white;
        left: 50%;
        width: 208px!important;
        right: 0;
        margin-left: -104px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .my-col-sm {
        width: 33.33333333%;
        float: left;
    }
}
@media (min-width: 1200px) and (max-width: 1920px) {
    .form-news-letr #form-newslater2 .alert-subscribe-home {
        top: calc( 78% + 8px )!important;
        color: white;
        left: 36px!important;
        width: 216px!important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .form-news-letr #form-newslater2 .alert-subscribe-home {
        top: calc( 83% + 7px )!important;
        color: white;
        left: inherit;
        width: 208px!important;
        right: -10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .my-col-md {
        width: 25%;
        float: left;
    }
    .form-news-letr #form-newslater2 .alert-subscribe-home {
        top: calc( 80% + 7px )!important;
        color: white;
        left: inherit;
        width: 208px!important;
        right: 13px;
    }
}

@media (min-width: 1200px) {
    .my-col-lg {
        width: 20%;
        float: left;
    }
}

/*
  Styles for paginations start 
**/
.pagination li {
    display: inline-block;
}

.pagination li.prev.disabled span {
    cursor: not-allowed;
    color: transparent;
}

.pagination li.prev a,
.pagination li.next a,
.pagination li.prev span,
.pagination li.next span {
    border: 2px solid #b7b7b7;
    width: 36px;
    height: 36px;
    border-radius: 0;
    color: transparent;
}

.pagination li.prev a:after,
.pagination li.prev span:after {
    display: inline-block;
    content: "\f053";
    color: #b7b7b7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 15px;
    font: normal normal normal 12px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}

.pagination li.next a:after,
.pagination li.next span:after {
    display: inline-block;
    content: "\f054";
    color: #b7b7b7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    font: normal normal normal 12px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}

.pagination li.prev {
    margin-right: 16px;
}

.pagination li.next {
    margin-left: 16px;
}

.pagination li a {
    border: 1px solid #b7b7b7;
    width: 36px;
    height: 36px;
    border-radius: 0;
    transform: translateX(-1px);
    text-align: center;
    line-height: 34px;
    color: #181820;
    font-size: 14px;
    font-family: MarkProBold;
    padding: 0;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #21a2dc;
    border-color: #21a2dc;
}

/*
  Styles for paginations end 
**/

/*
  Styles adverties Sidebar start
**/
.adverties-sidebar {
}

.adverties-sidebar .adverties-logo {
    display: block;
    width: 100%;
    height: 96px;
    border: 1px solid #d8d8d8;
    margin-top: 18px;
}

.adverties-sidebar .adverties-logo img {
    width: 100%;
    max-height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
    height: 100%;
}

.adverties-sidebar .adverties-info {
    margin-top: 18px;
    text-align: center;
}

.adverties-sidebar .adverties-info .advrties-info-name {
    color: #181820;
    font-family: MarkProBold;
    font-size: 18px;
}

.adverties-sidebar .adverties-info .advrties-info-category {
    color: rgba(24, 24, 32, 0.76);
    font-family: MarkProLight;
    font-size: 13px;
    padding-bottom: 23px;
}

.adverties-sidebar .adverties-follow-count {
    margin-top: 33px;
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
    text-align: center;
}

.adverties-sidebar .adverties-follow-count a {
    color: #d2d2d2;
    font-family: MarkProLight;
}

.adverties-sidebar .follow-btn {
    width: 100%;
    height: 49px;
    margin-top: 20px;
    background: #9c9797;
    border: 0;
    outline: none;
    color: white;
    font-family: ProximaNova-Bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.adverties-sidebar .follow-btn.active {
    background: #21a2dc;
}

.trend-sidebar .follow-btn {
    width: 100%;
    height: 49px;
    margin-top: 20px;
    background: #9c9797;
    border: 0;
    outline: none;
    color: white;
    font-family: ProximaNova-Bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.trend-sidebar .follow-btn.active {
    background: #21a2dc;
}

.adverties-sidebar .follow-btn.active {
    background: #21a2dc;
}

a.all-adverties {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 6px;
    background: #21a2dc;
    color: white;
    font-family: ProximaNova-Bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

a.all-trend {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 6px;
    background: #21a2dc;
    color: white;
    font-family: ProximaNova-Bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

@media (max-width: 767px) {
    .adverties-sidebar .adverties-logo,
    .adverties-sidebar .adverties-follow-count,
    .adverties-sidebar .follow-btn,
    .adverties-sidebar a.all-adverties {
        width: 175px;
        margin: 0 auto;
    }

    .adverties-sidebar .follow-btn {
        display: block;
        margin-top: 20px;
    }

    .adverties-sidebar a.all-adverties {
        display: block;
        margin-top: 8px;
    }
}

/*
  Styles adverties Sidebar end
**/

/*
  Styles publications Sidebar start
**/
.publications-sidebar {
}

.publications-sidebar .publications-logo {
    display: block;
    width: 173px;
    height: 96px;
    border: 1px solid #d8d8d8;
    margin-top: 50px;
}

.publications-sidebar .publications-logo img {
    width: 100%;
    max-height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
    height: 100%;
}

.adverties-follow-count .text-center {
    text-align: center;
    display: block;
    margin-top: 13px;
}

.adverties-follow-count .text-center span {
    font-family: 'MarkProLight';
    font-size: 14px;
    color: #808080;
    position: relative;
    top: 2px;
}

.publications-sidebar .publications-info {
    margin-top: 18px;
    text-align: center;
}

.publications-sidebar .publications-info .publications-info-name {
    color: #181820;
    font-family: MarkProBold;
    font-size: 18px;
}

.publications-sidebar .publications-follow-count {
    padding-top: 26px;
    text-align: center;
}

.publications-sidebar .publications-follow-count a {
    color: #d2d2d2;
    font-family: MarkProLight;
}

.publications-sidebar .follow-btn {
    width: 100%;
    height: 50px;
    margin-top: 21px;
    background: #9c9797;
    border: 0;
    outline: none;
    color: white;
    font-family: ProximaNova-Bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.publications-sidebar .follow-btn.active {
    background: #21a2dc;
}

a.all-publications {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 8px;
    background: #21a2dc;
    color: white;
    font-family: ProximaNova-Bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

@media (max-width: 767px) {
    .publications-sidebar .publications-logo,
    .publications-sidebar .publications-follow-count,
    .publications-sidebar .follow-btn,
    .publications-sidebar a.all-publications {
        width: 175px;
        margin: 0 auto;
    }

    .publications-sidebar .follow-btn {
        display: block;
        margin-top: 20px;
    }

    .publications-sidebar a.all-publications {
        display: block;
        margin-top: 8px;
    }
}

/*
  Styles publications Sidebar end
**/

/*
  Styles publications Sidebar start
**/
.colection-sidebar .colection-name {
    font-size: 22px;
    color: #181820;
    font-family: MarkProBold;
    margin-top: 24px;
    display: block;
    text-decoration: none;
}

.trend-sidebar .trend-name, .trend-sidebar .trend-name:hover {
    font-size: 22px;
    color: #181820;
    font-family: MarkProBold;
    margin-top: 5px;
    display: block;
    text-decoration: none;
}

.colection-sidebar .colection-description {
    font-size: 14px;
    color: rgba(24, 24, 32, 0.7);
    font-family: MarkProLight;
    height: 193px;
    overflow: hidden;
}

.trend-sidebar .trend-description {
    font-size: 14px;
    color: rgba(24, 24, 32, 0.7);
    font-family: MarkProLight;
    height: 152px;
    overflow: hidden;
    margin-top: 13px;
}

.product-one-all-no-home .product-one-to-all:hover {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
}

.colection-sidebar .colection-icons {
    margin-top: 26px;
    text-align: center;
}

.trend-sidebar .trend-icons {
    margin-top: 26px;
    text-align: center;
}

.colection-sidebar .colection-icons a {
    text-decoration: none !important;
}

.trend-sidebar .trend-icons a {
    text-decoration: none !important;
}

.colection-sidebar .colection-icons .colection-icon {
    display: inline-block;
    color: #808080;
    font-family: MarkProLight;
}

.trend-sidebar .trend-icons .trend-icon {
    display: inline-block;
    color: #d2d2d2;
    font-family: MarkProLight;
}

.colection-sidebar .colection-icons .colection-icon img {
    margin-right: 4px;
    transform: translateY(-3px);
}

.trend-sidebar .trend-icons .trend-icon img {
    margin-right: 5px;
    transform: translateY(-3px);
}

.colection-sidebar .colection-icons .colection-icon:not(:first-child) {
    margin-left: 15px;
}

.trend-sidebar .trend-icons .trend-icon:not(:first-child) {
    margin-left: 15px;
}

a.all-colections {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 26px;
    background: #21a2dc;
    color: white;
    font-family: 'ProximaNova-Bold';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 50px;
    text-decoration: none !important;
}

@media (max-width: 767px) {
    .colection-sidebar a.colection-name,
    .colection-sidebar .colection-description,
    .colection-sidebar a.all-colections {
        display: block;
        width: 175px;
        margin: 0 auto;
    }
    .trend-sidebar .trend-description {
        font-size: 14px;
        color: rgba(24, 24, 32, 0.7);
        font-family: MarkProLight;
        max-height: 152px;
        height: auto;
        overflow: hidden;
        margin-top: 13px;
    }
    .colection-sidebar a.all-colections {
        display: block;
        margin-top: 8px;
    }
}

/*
  Styles publications Sidebar end
**/

/*
  Styles profile settings start
**/
.settings-page {
    background-color: #eff2f7;
    padding-bottom: 40px;
}

.settings-page h1 {
    font-family: MarkProBold;
    font-size: 30px;
    color: #181820;
    margin: 60px 0 0 0;
    text-align: center;
}

.settings-page form {
    margin-top: 45px;
}

.settings-page .form-group label {
    font-size: 13px;
    font-family: MarkProLight;
    color: #181820;
}

.settings-page .form-group input[type='text'],
.settings-page .form-group input[type='email'] {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #c7c7c7;
    background: white;
    padding-left: 28px;
    font-size: 14px;
    color: #181820;
    font-family: MarkProLight;
    outline: none;
}

.settings-page .form-group input:focus {
    box-shadow: none;
}

.settings-page .field-user-newslater {
    margin-top: 18px;
}

.settings-page .field-user-newslater input[type='checkbox'] {
    display: none;
}

.settings-page .field-user-newslater label {
    font-size: 14px;
    color: rgba(24, 24, 32, 0.7);
    font-family: MarkProLight;
    position: relative;
    padding-left: 25px;
    height: 15px;
    line-height: 15px;
    cursor: pointer;
}

.settings-page .field-user-newslater label:before {
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #c7c7c7;
    background: white;
    position: absolute;
    top: -2px;
    left: 0;
}

.settings-page .field-user-newslater input[type='checkbox']:checked + label:after {
    display: inline-block;
    content: '';
    width: 9px;
    height: 9px;
    background: #21a2dc;
    position: absolute;
    top: 1px;
    left: 3px;
}

.settings-page button[type='submit'].save-changes {
    width: 135px;
    height: 50px;
    background: #21a2dc;
    border: 0;
    border-radius: 0;
    outline: none;
    color: white;
    font-family: MarkProBold;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*
  Styles profile settings end
**/

/*
  Styles publisher profile start
**/
.chart-conteiner {
    background: white;
    border: 1px solid #e4ebf1;
    margin: 20px 0 0 0;
}

.chart-conteiner:first-child {
    margin-top: 50px;
}

.chart-conteiner-head {
    height: 50px;
    border-bottom: 1px solid #e4ebf1;
}

.chart-conteiner-title {
    font-size: 16px;
    font-family: MarkProLight;
    color: #4d5664;
    line-height: 50px;
}

.chart-conteiner-controls {
    text-align: right;
}

.chart-conteiner-controls .input-daterange {
    margin-top: 10px;
    border: 0;
    width: auto;
    float: right;
}

.chart-conteiner-controls .input-daterange input[type="text"] {
    width: 120px;
    height: 30px;
    border: 0;
    background: url("/images/dropdown-blue.png") calc(100% - 10px) 10px no-repeat, transparent;
    color: rgba(24, 24, 32, 0.5);
    font-size: 12px;
    font-family: MarkProbold;
    box-shadow: none;
    outline: none;
    padding-left: 0;
}

.chart-conteiner-controls .input-daterange span {
    color: rgba(24, 24, 32, 0.5);
    font-size: 12px;
    font-family: MarkProbold;
    border: 0 !important;
    background: transparent;
}

.chart-conteiner-controls .input-daterange input[type="text"]:focus {
    box-shadow: none;
}

.publisher-page .profile-product-item {
    position: relative;
}

#login-form .help-block {
    display: none;
}

#login-publisher-form .help-block {
    display: none;
}

.cursor-none #productscomments-description {
    pointer-events: none;
    cursor: no-drop;
}

.form-news-letr #form-newslater2 .block-sibscribe .alert-success {
    display: none!important;
}
@media (max-width:414px){
    .colection-sidebar .colection-icons{
        margin-top: 0;
    }
}

/*
  Styles publisher profile end
**/
